include mixins
include store

block variables
	-
		let title = 'Reshka Test';
		let bodyClassList = [];
		let appClassList = [];

block document
	doctype html
	html(lang="ru")
		head
			meta(charset="utf-8")
			meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
			meta(http-equiv="x-ua-compatible" content="ie=edge")
			title= title
			block head-end

		body(class=bodyClassList)
			block body-start
			.app(class=appClassList)
				block app
