:root {
	--body-width: calc(100vw - var(--scrollbar-width, 0));
	--gap: 30rem;
	--font-size: #{$font-size};
	--line-height: #{$line-height};
	--heading-line-height: #{$heading-line-height};

	font-size: 1px;

	@include media-breakpoint-down(xxl) {
		font-size: calc(0.3 / #{strip-unit(map-get($breakpoints, xxl))} * 100vw + 0.7px);
	}

	@include media-breakpoint-down(lg) {
		--gap: 20rem;
		--font-size: #{$font-size-xs};

		font-size: calc(0.2 / #{strip-unit(map-get($breakpoints, xs))} * 100vw + 0.8px);
	}
}
